phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=http://172.24.30.185:8089/repository/local-group-npm/
//172.24.30.185:8089/repository/local-group-npm/:_authToken=NpmToken.0cc39233-f5d7-3544-82ce-4cc44bf16529
